__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.log
.env

.pybuild/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/python3-mcp-server-webdriver.postinst.debhelper
debian/python3-mcp-server-webdriver.prerm.debhelper
debian/python3-mcp-server-webdriver.substvars
debian/python3-mcp-server-webdriver/


